table, th, td {
    border: 1px solid black;     
  }

table {
    width: 50%;
    border-collapse: collapse;
}
  
  th, td {
    text-align: left;
    padding: 15px;
  }
  
  thead {
    background-color: rgb(236, 215, 18);
  }

body {
  background-color: rgb(202, 209, 209);
}